<!DOCTYPE  html>
<title>WEKCOME</title>
<head>
<style>
  body{
  background-color: white;
}

font.uk {
  color:black;


}
font.uk:hover {
  color:#FF338C;


}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
</style>
</head>

<body>

<ul>
  <li><a class="active">Flask Polls</a></li>
  <li><a href="http://127.0.0.1:5000/home">Home</a></li>
  <li><a href="http://127.0.0.1:5000/about">About</a></li>
  <li><a href="http://127.0.0.1:5000/contact">Contact</a></li>
</ul>

<font class="uk">
<h1>Polls.</h1>
<h2> No polls available.</h2>
<form action = "http://127.0.0.1:5000/home" method ="POST">
  <button type="submit">Create Sample Polls</button>
    </form>
</font>
</body>

</html>
